/* line 1, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
  border: 0;
  background: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
}

/* line 12, ../sass/style.scss */
::selection {
  color: white;
  background: #FF4611;
}

/* line 17, ../sass/style.scss */
.footer {
  height: 30px;
}

/* line 21, ../sass/style.scss */
a {
  text-decoration: none;
  color: inherit;
}
/* line 25, ../sass/style.scss */
a:hover {
  text-decoration: none;
  color: inherit;
}

/* line 31, ../sass/style.scss */
.signup {
  text-align: center;
  padding: 15px 20px;
  background: #FF4611;
  border: 1px solid #FF4611;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  transition: background 0.2s linear;
  letter-spacing: 1px;
  margin-top: 20px;
  float: left;
  font-size: 16px;
}
/* line 44, ../sass/style.scss */
.signup:hover {
  background: transparent;
  color: #FF4611;
}

/* line 50, ../sass/style.scss */
td.zero {
  width: 1%;
  white-space: nowrap;
}

/* line 55, ../sass/style.scss */
table, td, tr {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-spacing: 0px;
  border-collapse: separate;
}

/* line 63, ../sass/style.scss */
.logo {
  width: 155px;
  height: 55px;
  background-image: url(../images/kwan-logo.svg);
  background-size: 155px 55px;
}

/* line 70, ../sass/style.scss */
.header {
  background: rgba(255, 255, 255, 0);
  margin: 0px;
  border: 0px;
  padding: 25px 30px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-weight: 300;
  font-size: 16px;
  color: white;
  display: block;
  pointer-events: initial;
}
/* line 85, ../sass/style.scss */
.header td {
  vertical-align: middle;
}
/* line 89, ../sass/style.scss */
.header a {
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}
/* line 95, ../sass/style.scss */
.header span {
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}

/* line 102, ../sass/style.scss */
.next {
  opacity: 0.6;
}
/* line 105, ../sass/style.scss */
.next:hover {
  opacity: 1;
}

/* line 110, ../sass/style.scss */
.prev {
  height: 45px;
}

/* line 115, ../sass/style.scss */
.middle a {
  margin: 0 16px;
  opacity: 0.8;
}
/* line 119, ../sass/style.scss */
.middle a:hover {
  opacity: 1;
}

/* line 124, ../sass/style.scss */
.social {
  float: right;
}
/* line 127, ../sass/style.scss */
.social a {
  width: 51px;
  height: 51px;
  background: url(/images/socialKwan.svg);
}
/* line 132, ../sass/style.scss */
.social a:hover {
  opacity: 0.65;
}
/* line 136, ../sass/style.scss */
.social a#facebook {
  background-position: -52px 0;
}
/* line 140, ../sass/style.scss */
.social a#twitter {
  background-position: -157px 0;
}
/* line 144, ../sass/style.scss */
.social a#github {
  background-position: -105px 0;
}
/* line 148, ../sass/style.scss */
.social a#reddit {
  background-position: 0 0;
}

/* line 154, ../sass/style.scss */
.content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  overflow: auto;
  margin: auto auto auto -450px;
  left: 50%;
  width: 900px;
  display: table;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 88px;
}
/* line 166, ../sass/style.scss */
.content h1 {
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin: 0 0 20px 0;
}
/* line 173, ../sass/style.scss */
.content span {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}
/* line 178, ../sass/style.scss */
.content span.redline {
  display: block;
  margin: 25px 0 0 0;
  border: 1px solid #FF4611;
  width: 35px;
}
/* line 185, ../sass/style.scss */
.content span em {
  font-weight: 500;
  color: #FF4611;
  font-style: normal;
}
/* line 192, ../sass/style.scss */
.content table {
  margin-top: 32px;
}

/* line 197, ../sass/style.scss */
.sidenav {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  overflow: auto;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 40px;
  height: 100%;
}
/* line 207, ../sass/style.scss */
.sidenav span {
  margin-right: 10px;
}

/* line 212, ../sass/style.scss */
.line {
  height: 20px;
  width: 1px;
  background: transparent;
  margin: 0 auto;
}

/* line 219, ../sass/style.scss */
.navitem {
  width: 10px;
  height: 10px;
  display: table-cell;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  transition: background 0.1s linear;
  border: 1px solid white;
  vertical-align: middle;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  -khtml-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
}
/* line 234, ../sass/style.scss */
.navitem.selected {
  background: white;
  border: 1px solid white;
}
/* line 239, ../sass/style.scss */
.navitem:hover {
  background: white;
  border: 1px solid white;
}
/* line 244, ../sass/style.scss */
.navitem img {
  display: table;
  margin: 0 auto;
}

/* line 252, ../sass/style.scss */
#navtitle1, #navtitle2, #navtitle3, #navtitle4, #navtitle5 {
  float: right;
}

/* line 256, ../sass/style.scss */
#sensor {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 265, ../sass/style.scss */
#blocker {
  position: absolute;
  background-color: transparent;
  width: 20px;
  height: 20px;
  opacity: 1;
  top: 0px;
  left: 0px;
}

/* line 275, ../sass/style.scss */
.background {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
/* line 290, ../sass/style.scss */
.background#background1 {
  background-image: url(../images/bg1.jpg);
}
/* line 294, ../sass/style.scss */
.background#background2 {
  background-image: url(../images/bg2.jpg);
}
/* line 298, ../sass/style.scss */
.background#background3 {
  background-image: url(../images/bg3.jpg);
}
/* line 302, ../sass/style.scss */
.background#background4 {
  background-image: url(../images/bg4.jpg);
}

/* line 307, ../sass/style.scss */
#bouncy {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto 90px;
}

/* line 315, ../sass/style.scss */
#bouncy a {
  display: table;
  margin: 0 auto;
  width: 40px;
  height: 20px;
  background-size: 40px 20px;
  background-image: url(../images/nav-arrow-down.png);
}

/* line 324, ../sass/style.scss */
.visible-landscape {
  display: none;
}

/* line 328, ../sass/style.scss */
#overlay {
  background: rgba(0, 0, 0, 0.55);
}

/************ MODAL FORM *************/
/* line 336, ../sass/style.scss */
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  font-family: 'Open Sans', sans-serif;
}
/* line 351, ../sass/style.scss */
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
/* line 356, ../sass/style.scss */
.modalDialog .close {
  color: #999;
  line-height: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
  text-decoration: none;
}
/* line 364, ../sass/style.scss */
.modalDialog .close:hover {
  color: #666;
}
/* line 369, ../sass/style.scss */
.modalDialog ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
/* line 375, ../sass/style.scss */
.modalDialog ul li {
  float: left;
}
/* line 378, ../sass/style.scss */
.modalDialog ul li.buttons {
  float: right;
}
/* line 384, ../sass/style.scss */
.modalDialog label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #666;
  display: block;
  margin: 5px 0;
}
/* line 392, ../sass/style.scss */
.modalDialog input {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: none;
  padding: 5px 10px;
  color: #666;
  float: left;
  width: 350px;
  margin: 0;
  -webkit-transition: border 0.2s linear;
  -moz-transition: border 0.2s linear;
  transition: border 0.2s linear;
}
/* line 405, ../sass/style.scss */
.modalDialog input:focus {
  box-shadow: none;
  border: 1px solid #FF4611;
  outline: none;
}
/* line 412, ../sass/style.scss */
.modalDialog input.submit {
  text-align: center;
  padding: 15px 20px;
  background: #FF4611;
  border: 1px solid #FF4611;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  transition: background 0.2s linear;
  letter-spacing: 1px;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  width: 110px;
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
/* line 430, ../sass/style.scss */
.modalDialog input.submit:hover {
  background: transparent;
  color: #FF4611;
}

/* line 437, ../sass/style.scss */
.modalDialog > div {
  width: 450px;
  height: 350px;
  position: relative;
  margin: 10% auto;
  padding: 100px 50px 10px 50px;
  border-radius: 10px;
  background: #fff;
  border-radius: 0;
  border-bottom: 6px solid #FF4611;
  background-image: url(../images/kwan-logo-color.svg);
  background-repeat: no-repeat;
  background-position: center 30px;
}

/************ MEDIA QUERIES *************/
@media only screen and (max-width: 320px) {
  /* line 456, ../sass/style.scss */
  .content {
    width: 100%;
    margin: auto;
    left: 0;
    padding-right: 50px;
    padding-left: 20px;
  }
  /* line 463, ../sass/style.scss */
  .content h1 {
    font-size: 30px;
  }
  /* line 467, ../sass/style.scss */
  .content span {
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
  }
  /* line 473, ../sass/style.scss */
  .content table {
    margin-top: 20px;
  }

  /* line 478, ../sass/style.scss */
  .visible-xs {
    display: table!important;
  }

  /* line 482, ../sass/style.scss */
  .social {
    display: none!important;
  }

  /* line 486, ../sass/style.scss */
  #background1, #background2, #background3, #background4 {
    background-position: 0px 0px;
  }

  /* line 490, ../sass/style.scss */
  .prev {
    height: 1px;
  }

  /* line 494, ../sass/style.scss */
  .next {
    height: 25px;
  }

  /* line 498, ../sass/style.scss */
  .footer {
    display: none;
    height: 10px;
  }

  /* line 503, ../sass/style.scss */
  #bouncy {
    margin-bottom: 30px;
  }

  /* line 507, ../sass/style.scss */
  .wrapper .footer {
    display: block;
    height: auto;
  }

  /* line 512, ../sass/style.scss */
  .signup {
    margin-top: 5px;
  }

  /* line 516, ../sass/style.scss */
  .sidenav {
    right: 25px;
  }

  /************ MODAL FORM *************/
  /* line 524, ../sass/style.scss */
  .modalDialog label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #666;
    display: block;
    margin: 5px 0;
  }
  /* line 532, ../sass/style.scss */
  .modalDialog input {
    width: 260px;
    margin-bottom: 5px;
  }

  /* line 538, ../sass/style.scss */
  .modalDialog > div {
    width: 300px;
    height: 350px;
    padding: 100px 20px 10px 20px;
  }
}
@media (min-width: 321px) and (max-width: 479px) {
  /* line 548, ../sass/style.scss */
  .content {
    width: 100%;
    margin: auto;
    left: 0;
    padding-right: 50px;
    padding-left: 20px;
  }
  /* line 555, ../sass/style.scss */
  .content h1 {
    font-size: 30px;
  }
  /* line 559, ../sass/style.scss */
  .content span {
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
  }
  /* line 565, ../sass/style.scss */
  .content table {
    margin-top: 20px;
  }

  /* line 570, ../sass/style.scss */
  .visible-xs {
    display: table!important;
  }

  /* line 574, ../sass/style.scss */
  .social {
    display: none!important;
  }

  /* line 578, ../sass/style.scss */
  #background1, #background2, #background3, #background4 {
    background-position: 0px 0px;
  }

  /* line 582, ../sass/style.scss */
  .prev {
    height: 1px;
  }

  /* line 586, ../sass/style.scss */
  .next {
    height: 25px;
  }

  /* line 590, ../sass/style.scss */
  .footer {
    display: none;
    height: 10px;
  }

  /* line 595, ../sass/style.scss */
  #bouncy {
    margin-bottom: 30px;
  }

  /* line 599, ../sass/style.scss */
  .wrapper .footer {
    display: block;
    height: auto;
  }

  /* line 604, ../sass/style.scss */
  .signup {
    margin-top: 5px;
  }

  /* line 608, ../sass/style.scss */
  .sidenav {
    right: 25px;
  }

  /************ MODAL FORM *************/
  /* line 617, ../sass/style.scss */
  .modalDialog label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #666;
    display: block;
    margin: 5px 0;
  }
  /* line 625, ../sass/style.scss */
  .modalDialog input {
    width: 260px;
    margin-bottom: 5px;
  }

  /* line 631, ../sass/style.scss */
  .modalDialog > div {
    width: 300px;
    height: 300px;
    padding: 85px 20px 10px 20px;
    margin: 2% auto;
  }
}
@media (min-width: 480px) and (max-width: 568px) and (orientation: landscape) {
  /* line 641, ../sass/style.scss */
  .content {
    width: 100%;
    margin: auto;
    left: 0;
    padding-right: 50px;
    padding-left: 20px;
  }
  /* line 648, ../sass/style.scss */
  .content h1 {
    font-size: 30px;
  }
  /* line 652, ../sass/style.scss */
  .content span {
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
  }
  /* line 658, ../sass/style.scss */
  .content table {
    margin-top: 20px;
  }

  /* line 663, ../sass/style.scss */
  .visible-xs {
    display: table!important;
  }

  /* line 667, ../sass/style.scss */
  .social {
    display: none!important;
  }

  /* line 671, ../sass/style.scss */
  #background1, #background2, #background3, #background4 {
    background-position: 0px 0px;
  }

  /* line 675, ../sass/style.scss */
  .prev {
    height: 1px;
  }

  /* line 679, ../sass/style.scss */
  .next {
    height: 25px;
  }

  /* line 683, ../sass/style.scss */
  .footer {
    display: none;
    height: 10px;
  }

  /* line 688, ../sass/style.scss */
  #bouncy {
    margin-bottom: 30px;
  }

  /* line 692, ../sass/style.scss */
  .wrapper .footer {
    display: block;
    height: auto;
  }

  /* line 697, ../sass/style.scss */
  .signup {
    margin-top: 5px;
  }

  /* line 701, ../sass/style.scss */
  .sidenav {
    right: 25px;
  }

  /************ MODAL FORM *************/
  /* line 709, ../sass/style.scss */
  .modalDialog label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #666;
    display: block;
    margin: 5px 0;
  }

  /* line 718, ../sass/style.scss */
  .modalDialog > div {
    height: 280px;
    padding: 65px 50px 10px 50px;
    margin: 4% auto;
    background-size: 27%;
  }
}
@media (min-width: 569px) and (max-width: 767px) {
  /* line 728, ../sass/style.scss */
  .content {
    width: 100%;
    margin: auto;
    left: 0;
    padding-right: 50px;
    padding-left: 20px;
  }
  /* line 735, ../sass/style.scss */
  .content h1 {
    font-size: 30px;
  }
  /* line 739, ../sass/style.scss */
  .content span {
    font-size: 19px;
    font-weight: 300;
    line-height: 29px;
  }
  /* line 745, ../sass/style.scss */
  .content table {
    margin-top: 20px;
  }

  /* line 750, ../sass/style.scss */
  .visible-xs {
    display: table!important;
  }

  /* line 754, ../sass/style.scss */
  #background1, #background2, #background3, #background4 {
    background-position: 0px 0px;
  }

  /* line 758, ../sass/style.scss */
  .prev {
    height: 1px;
  }

  /* line 762, ../sass/style.scss */
  .next {
    height: 25px;
  }

  /* line 766, ../sass/style.scss */
  .footer {
    display: none;
    height: 10px;
  }

  /* line 771, ../sass/style.scss */
  #bouncy {
    margin-bottom: 30px;
  }

  /* line 775, ../sass/style.scss */
  .wrapper .footer {
    display: block;
    height: auto;
  }

  /* line 780, ../sass/style.scss */
  .sidenav {
    right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 986px) {
  /* line 787, ../sass/style.scss */
  .content {
    width: 100%;
    margin: auto;
    left: 0;
    padding-right: 50px;
    padding-left: 20px;
  }
  /* line 794, ../sass/style.scss */
  .content h1 {
    font-size: 35px;
  }
  /* line 798, ../sass/style.scss */
  .content span {
    font-size: 19px;
    font-weight: 300;
    line-height: 29px;
  }
  /* line 804, ../sass/style.scss */
  .content table {
    margin-top: 20px;
  }

  /* line 809, ../sass/style.scss */
  .prev {
    height: 1px;
  }

  /* line 813, ../sass/style.scss */
  .next {
    height: 25px;
  }

  /* line 817, ../sass/style.scss */
  .footer {
    display: none;
    height: 10px;
  }

  /* line 822, ../sass/style.scss */
  #bouncy {
    margin-bottom: 30px;
  }

  /* line 826, ../sass/style.scss */
  .wrapper .footer {
    display: block;
    height: auto;
  }

  /* line 831, ../sass/style.scss */
  .sidenav {
    right: 20px;
  }
}
