body {
  margin: 0;
  padding: 0;
  border: 0;
  background: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
}

::selection {
  color: white;
  background:#FF4611;
}

.footer{
  height:30px;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.signup {
  text-align: center;
  padding: 15px 20px;
  background: #FF4611;
  border: 1px solid #FF4611;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  transition: background 0.2s linear;
  letter-spacing: 1px;
  margin-top: 20px;
  float: left;
  font-size: 16px;

  &:hover {
    background: transparent;
    color: #FF4611;
  }
}

td.zero {
  width: 1%;
  white-space: nowrap;
}

table,td,tr {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-spacing: 0px;
  border-collapse: separate;
}

.logo {
  width: 155px;
  height: 55px;
  background-image: url(../images/kwan-logo.svg);
  background-size: 155px 55px;
}

.header {
  background: rgba(255,255,255,0.0);
  margin: 0px;
  border: 0px;
  padding: 25px 30px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-weight: 300;
  font-size: 16px;
  color: white;
  display: block;
  pointer-events: initial;

  td {
    vertical-align: middle;
  }

  a {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
  }
}

.next {
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.prev {
  height: 45px;
  ;
}

.middle a {
  margin: 0 16px;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.social {
  float:right;

  a{
    width: 51px;
    height: 51px;
    background: url(/images/socialKwan.svg);

    &:hover{
      opacity:0.65;
    }

    &#facebook {
      background-position: -52px 0;
    }

    &#twitter {
      background-position: -157px 0;
    }

    &#github {
      background-position: -105px 0;
    }

    &#reddit {
      background-position: 0 0;
    }
  }
}

.content {
  position: absolute;
  background-color: rgba(0,0,0,0);
  overflow: auto;
  margin: auto auto auto -450px;
  left: 50%;
  width: 900px;
  display: table;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 88px;

  &.thankyou{
    text-align:center;
    padding-top: 250px;

    span.redline {
      margin: 30px auto 0px auto;
    }

    .signup{
      background: transparent;
      color: #FF4611;
      float: none;
      display: inline-block;
      margin-top: 50px;

      &:hover{
        color: #FFF;
        border-color: #FFF;
      }
    }
  }

  h1 {
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 0 0 20px 0;
  }

  span {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;

    &.redline {
      display: block;
      margin: 25px 0 0 0;
      border: 1px solid #FF4611;
      width: 35px;
    }

    em {
      font-weight: 500;
      color:#FF4611;
      font-style: normal;
    }
  }

  table {
   margin-top: 32px;
  }
}

.sidenav {
  position: absolute;
  background-color: rgba(0,0,0,0);
  overflow: auto;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 40px;
  height: 100%;

  span {
    margin-right: 10px;
  }
}

.line {
  height: 20px;
  width: 1px;
  background: transparent;
  margin: 0 auto;
}

.navitem {
  width: 10px;
  height: 10px;
  display: table-cell;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  transition: background 0.1s linear;
  border: 1px solid white;
  vertical-align: middle;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  -khtml-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;

  &.selected{
    background: white;
    border: 1px solid rgba(255,255,255,1);
  }

  &:hover {
    background: white;
    border: 1px solid rgba(255,255,255,1);
  }

  img {
    display: table;
    margin: 0 auto;
  }
}



#navtitle1,#navtitle2,#navtitle3,#navtitle4,#navtitle5 {
  float: right;
}

#sensor {
  position: absolute;
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#blocker {
  position: absolute;
  background-color: transparent;
  width: 20px;
  height: 20px;
  opacity: 1;
  top: 0px;
  left: 0px;
}

.background {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  &#background1 {
    background-image: url(../images/bg1.jpg);
  }

  &#background2 {
    background-image: url(../images/bg2.jpg);
  }

  &#background3 {
    background-image: url(../images/bg3.jpg);
  }

  &#background4 {
    background-image: url(../images/bg4.jpg);
  }

  &#background5 {
    background-image: url(../images/bg5.jpg);
  }
}

#bouncy {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto 90px;
}

#bouncy a {
  display: table;
  margin: 0 auto;
  width: 40px;
  height: 20px;
  background-size: 40px 20px;
  background-image: url(../images/nav-arrow-down.png);
}

.visible-landscape {
  display: none;
}

#overlay {
  background: rgba(0,0,0,0.55);
}



/************ MODAL FORM *************/

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  font-family: 'Open Sans', sans-serif;

  &:target {
    opacity:1;
    pointer-events: auto;
  }

  .close {
    color: #999;
    line-height: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    text-decoration: none;

    &:hover {
      color: #666;
    }
  }

  ul{
    list-style:none;
    margin: 0;
    padding: 0;
    float:left;

    li{
      float:left;

      &.buttons {
        float:right;
      }
    }
  }

  label{
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    color:#666;
    display: block;
    margin:5px 0;
  }

  input{
    background:#fff;
    border:1px solid #ccc;
    box-shadow: none;
    padding: 5px 10px;
    color: #666;
    float: left;
    width: 350px;
    margin: 0;
    -webkit-transition: border 0.2s linear;
    -moz-transition: border 0.2s linear;
    transition: border 0.2s linear;

    &:focus {
      box-shadow: none;
      border:1px solid #FF4611;
      outline: none;
    }
  }

  input.submit{
    text-align: center;
    padding: 15px 20px;
    background: #FF4611;
    border: 1px solid #FF4611;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    transition: background 0.2s linear;
    letter-spacing: 1px;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    width: 110px;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;

    &:hover {
      background: transparent;
      color: #FF4611;
    }
  }
}

.modalDialog > div {
  width: 450px;
  height: 350px;
  position: relative;
  margin: 10% auto;
  padding: 100px 50px 10px 50px;
  border-radius: 10px;
  background: #fff;
  border-radius: 0;
  border-bottom: 6px solid #FF4611;
  background-image: url(../images/kwan-logo-color.svg);
  background-repeat: no-repeat;
  background-position: center 30px;
}

/************ MEDIA QUERIES *************/

@media only screen and (max-width : 320px) {

  .content {
    width: 100%;
    margin: auto;
    left: 0;
    padding-right: 50px;
    padding-left: 20px;

    h1 {
      font-size: 30px;
    }

    span {
      font-size: 15px;
      font-weight: 300;
      line-height: 21px;
    }

    table {
      margin-top: 20px;
    }
  }

  .visible-xs {
      display: table!important;
  }

  .social{
    display: none!important;
  }

  #background1, #background2, #background3, #background4{
    background-position: 0px 0px;
  }

  .prev {
      height: 1px;
  }

  .next {
      height: 25px;
  }

  .footer {
    display: none;
    height: 10px;
  }

  #bouncy {
    margin-bottom: 30px;
  }

  .wrapper .footer {
    display: block;
    height: auto;
  }

  .signup{
    margin-top:5px;
  }

  .sidenav {
    right: 25px;
  }

  /************ MODAL FORM *************/

  .modalDialog {

    label{
      font-family: 'Open Sans', sans-serif;
      font-weight:500;
      color:#666;
      display: block;
      margin:5px 0;
    }

    input{
      width: 260px;
      margin-bottom: 5px;
    }
  }

  .modalDialog > div {
    width: 300px;
    height: 350px;
    padding: 100px 20px 10px 20px;
  }

}

@media (min-width: 321px) and (max-width: 479px) {

  .content {
    width: 100%;
    margin: auto;
    left: 0;
    padding-right: 50px;
    padding-left: 20px;

    h1 {
      font-size: 30px;
    }

    span {
      font-size: 15px;
      font-weight: 300;
      line-height: 21px;
    }

    table {
      margin-top: 20px;
    }
  }

  .visible-xs {
      display: table!important;
  }

  .social{
    display: none!important;
  }

  #background1, #background2, #background3, #background4{
    background-position: 0px 0px;
  }

  .prev {
      height: 1px;
  }

  .next {
      height: 25px;
  }

  .footer {
    display: none;
    height: 10px;
  }

  #bouncy {
    margin-bottom: 30px;
  }

  .wrapper .footer {
    display: block;
    height: auto;
  }

  .signup{
    margin-top:5px;
  }

  .sidenav {
    right: 25px;
  }


  /************ MODAL FORM *************/

  .modalDialog {

    label{
      font-family: 'Open Sans', sans-serif;
      font-weight:500;
      color:#666;
      display: block;
      margin:5px 0;
    }

    input{
      width: 260px;
      margin-bottom: 5px;
    }
  }

  .modalDialog > div {
    width: 300px;
    height: 300px;
    padding: 85px 20px 10px 20px;
    margin: 2% auto;
  }
}

@media (min-width: 480px) and (max-width: 568px) and (orientation: landscape) {

  .content {
    width: 100%;
    margin: auto;
    left: 0;
    padding-right: 50px;
    padding-left: 20px;

    h1 {
      font-size: 30px;
    }

    span {
      font-size: 15px;
      font-weight: 300;
      line-height: 21px;
    }

    table {
      margin-top: 20px;
    }
  }

  .visible-xs {
      display: table!important;
  }

  .social{
    display: none!important;
  }

  #background1, #background2, #background3, #background4, #background5{
    background-position: 0px 0px;
  }

  .prev {
      height: 1px;
  }

  .next {
      height: 25px;
  }

  .footer {
    display: none;
    height: 10px;
  }

  #bouncy {
    margin-bottom: 30px;
  }

  .wrapper .footer {
    display: block;
    height: auto;
  }

  .signup{
    margin-top:5px;
  }

  .sidenav {
    right: 25px;
  }

  /************ MODAL FORM *************/

  .modalDialog {

    label{
      font-family: 'Open Sans', sans-serif;
      font-weight:500;
      color:#666;
      display: block;
      margin:5px 0;
    }
  }

  .modalDialog > div {
    height: 280px;
    padding: 65px 50px 10px 50px;
    margin: 4% auto;
    background-size: 27%;
  }
}

@media (min-width: 569px) and (max-width: 767px) {

  .content {
    width: 100%;
    margin: auto;
    left: 0;
    padding-right: 50px;
    padding-left: 20px;

    h1 {
      font-size: 30px;
    }

    span {
      font-size: 19px;
      font-weight: 300;
      line-height: 29px;
    }

    table {
        margin-top: 20px;
    }
  }

  .visible-xs {
      display: table!important;
  }

  #background1, #background2, #background3, #background4{
    background-position: 0px 0px;
  }

  .prev {
      height: 1px;
  }

  .next {
      height: 25px;
  }

  .footer {
    display: none;
    height: 10px;
  }

  #bouncy {
    margin-bottom: 30px;
  }

  .wrapper .footer {
    display: block;
    height: auto;
  }

  .sidenav {
    right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 986px) {

  .content {
    width: 100%;
    margin: auto;
    left: 0;
    padding-right: 50px;
    padding-left: 20px;

    h1 {
      font-size: 35px;
    }

    span {
      font-size: 19px;
      font-weight: 300;
      line-height: 29px;
    }

    table {
        margin-top: 20px;
    }
  }

  .prev {
      height: 1px;
  }

  .next {
      height: 25px;
  }

  .footer {
    display: none;
    height: 10px;
  }

  #bouncy {
    margin-bottom: 30px;
  }

  .wrapper .footer {
    display: block;
    height: auto;
  }

  .sidenav {
    right: 20px;
  }
}

@media (min-width: 980px) and (max-width: 1280px) {}
