  <div id="background1" class="background" style="opacity: 1;"></div>
  <div id="background2" class="background" style="opacity: 0;"></div>
  <div id="background3" class="background" style="opacity: 0;"></div>
  <div id="background4" class="background" style="opacity: 0;"></div>
  <div id="overlay" class="background"></div>
  <div id="sensor"></div>
  <table id="content1" class="content">
   <tbody>
    <tr>
     <td>
      <h1>
       {{ page_1_title }}
      </h1>
      <span class="hidden-xs">
       {{ page_1_text_big }}
      </span>
      <span class="visible-xs">
       {{ page_1_text_mobile}}
      </span>
      <span class="redline"></span>
     </td>
    </tr>
   </tbody>
  </table>
  <table id="content2" class="content">
   <tbody>
    <tr>
     <td>
      <h1>
        {{ page_2_title }}
      </h1>
      <span class="hidden-xs">
        {{ page_2_text_big }}
      </span>
      <span class="visible-xs">
        {{ page_2_text_mobile }}
      </span>
      <span class="redline"></span>
     </td>
    </tr>
   </tbody>
  </table>
  <table id="content3" class="content">
   <tbody>
    <tr>
     <td>
      <h1 class="hidden-xs">
       {{ page_3_title }}
      </h1>
      <h1 class="visible-xs">
        {{ page_3_title_mobile }}
      </h1>
      <span class="hidden-xs">
       {{ page_3_text_big }}
      </span>
      <span class="visible-xs">
       {{ page_3_text_mobile }}
      </span>
      <span class="redline"></span>
     </td>
    </tr>
   </tbody>
  </table>
  <table id="content4" class="content">
   <tbody>
    <tr>
     <td>
      <h1 class="hidden-xs">
       {{ page_4_title }}
      </h1>
      <h1 class="visible-xs">
       {{ page_4_title_mobile }}
      </h1>
      <span class="hidden-xs topics">
        {{ page_4_text_big }}
      </span>
      <span class="visible-xs">
        {{ page_4_text_mobile }}
      </span>
      <table>
       <tbody>
        <tr>
         <td>
          <a href="#openModal" class="signup">
           {{ callforaction }}
          </a>
          <div id="openModal" class="modalDialog">
            <div class="modalContent">
              <a href="#close" title="Close" class="close">X</a>
              <form id="form53" name="form53" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://rupeal.wufoo.eu/forms/s2jwnna1hf41vt/#public">
                <ul>
                  <li id="foli17" class="notranslate">
                    <label class="desc" id="title17" for="Field17">Name</label>
                    <input id="Field17" name="Field17" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup="" />
                  </li>
                  <li id="foli6" class="notranslate">
                    <label class="desc" id="title6" for="Field6">Email</label>
                    <input id="Field6" name="Field6" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="2" />
                  </li>
                    <li class="buttons ">
                      <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit" />
                  </li>
                  <li class="hide">
                    <label for="comment">Do Not Fill This Out</label>
                    <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                  <input type="hidden" id="idstamp" name="idstamp" value="E+wCv8bOUYUCRJz54gfKJz1h2kzEluPDF4n4jg6KBjE=" />
                  </li>
                </ul>
              </form>
            </div>
          </div>

         </td>
        </tr>
       </tbody>
      </table>
     </td>
    </tr>
   </tbody>
  </table>
  <table class="sidenav">
   <tbody>
    <tr>
     <td>
      <table>
       <tbody>
        <tr>
         <td>
          <a href="https://kwan.pt/#" class="navitem navitem1 selected">
          </a>
         </td>
        </tr>
        <tr>
         <td>
          <div class="line">
          </div>
         </td>
        </tr>
        <tr>
         <td>
          <a href="https://kwan.pt/#" class="navitem navitem2">
          </a>
         </td>
        </tr>
        <tr>
         <td>
          <div class="line">
          </div>
         </td>
        </tr>
        <tr>
         <td>
          <a href="https://kwan.pt/#" class="navitem navitem3">
          </a>
         </td>
        </tr>
        <tr>
         <td>
          <div class="line">
          </div>
         </td>
        </tr>
        <tr>
         <td>
          <a href="https://kwan.pt/#" class="navitem navitem4">
          </a>
         </td>
        </tr>
        <tr>
         <td>
          <div class="line">
          </div>
         </td>
        </tr>
       </tbody>
      </table>
     </td>
    </tr>
   </tbody>
  </table>
  <div id="bouncy" class="hidden-xs">
   <a href="http://www.kwan.pt/" class="next">
   </a>
  </div>
  <table id="header" class="header" style="position: absolute;">
   <tbody>
    <tr>
     <td class="zero">
      <table>
       <tbody>
        <tr>
         <td>
          <a href="http://www.kwan.pt/" class="logo">
          </a>
         </td>
        </tr>
       </tbody>
      </table>
     </td>
     <td class="zero">
      <table class="social">
       <tbody>
        <tr>
         <td>
          <a id="twitter" href="https://twitter.com/KWAN_Community" target="_blank">
          </a>
         </td>
         <td>
          <a id="github"href="https://github.com/kwanpt" target="_blank">
          </a>
         </td>
         <td>
          <a id="reddit"href="#" target="_blank">
          </a>
         </td>
        </tr>
       </tbody>
      </table>
     </td>
    </tr>
   </tbody>
  </table>

  <div class="footer"></div>
  <div id="blocker"></div>
